.reviews-container {
  background-color: black;
  padding: 40px;
  margin-top: 100px;
  height: 100vh; /* Keeps the container's height to 100% of the viewport height */
 
}


.review-card {
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 30px; /* Increased space between cards */
  padding: 30px; /* Increased padding */
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px; /* Larger font size */
}

.review-card img {
  width: 120px; /* Increased image size */
  height: 120px; /* Increased image size */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px; /* Increased margin between image and text */
}

.review-card h4 {
  margin: 0;
  color: #9228e9;
  font-size: 24px; /* Increased name font size */
}

.review-card p {
  margin: 8px 0; /* Increased margin between paragraphs */
  font-size: 20px; /* Larger text */
}

.review-card .comment {
  margin-top: 15px;
  font-style: italic;
  font-size: 22px; /* Larger comment text */
}
