*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
link, a {
    text-decoration: none;

}

body{
    font-family: "Montserrat", serif;
    background-color: black;
}